
**/Makefile
**/Makefile.in
**/.deps/
**/.libs/

**.lo
**.o
**.la
**.a

aclocal.m4
libtool.m4
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
autom4te.cache/
aux-bin/

config.*
configure

libtool

stamp-h1
compile
depcomp
install-sh
ltmain.sh
missing

*.log
*.trs

**~
.anjuta*
*.anjuta
.autotools
.cproject
.project
.settings/
nbproject/

*.pc

doc/doxygen/
